<section id="two" class="wrapper alt style2">

  {% if site.tiles-source == 'posts' %}
    {% for post in site.posts limit: site.tiles-count %}
      <section class="spotlight">
        <div class="image">
          {% if post.image %}
            {% if post.image contains "://" %}
              <img src="{{ post.image }}" alt="" />
            {% else %}
              <img src="{{ site.featured-image-source | append: post.image | absolute_url }}" alt="" />
            {% endif %}
          {% endif %}
        </div>
        <div class="content">
          <h2><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h2>
          <p>{{ post.description }}</p>
        </div>
      </section>
    {% endfor %}
  
  {% elsif site.tiles-source == 'pages' %}
    {% for page in site.pages limit: site.tiles-count %}
      {% if page.layout == 'default' %}{% continue %}{% endif %}
      <section class="spotlight">
        <div class="image">
          {% if page.image %}
            {% if page.image contains "://" %}
              <img src="{{ page.image }}" alt="" />
           img src="{{ site.featured-image-source | append: page.image | absolute_url }}" alt="" />
            {% endif %}
          {% endif %}
        </div>
        <div class="content">
          <h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
          <p>{{ page.description }}</p>
        </div>
      </section>
    {% endfor %}
  {% endif %}

</section>
